#tagsfilterGrid {
  display: inline-grid;
  grid-template-columns: 27.5% 15% 15% 15% 27.5%;
  grid-template-rows: 50px;
  column-gap: 15px;
}

/* mature */
#tagsFilterItem-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* commission */
#tagsFilterItem-2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

/* fanart */
#tagsFilterItem-3 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

label {
  position: relative;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

label img {
  object-fit: cover;
  object-position: 70% 35%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}


.tagsfilterbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(100%)
}

.tagsfilterbuttonSelected {
  outline: 3px solid #eaeacf;
  display: flex;
  justify-content: center;
  align-items: center;
}


label:hover {
  opacity: 0.5;
}

input {
  display: none;
}
