#tagsfilterGrid {
  display: inline-grid;
  grid-template-columns: 27.5% 15% 15% 15% 27.5%;
  grid-template-rows: 50px;
  column-gap: 15px;
}

#tagsFilterItem-1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

#tagsFilterItem-2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

#tagsFilterItem-3 {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.tagsfilterbutton {
  outline: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  display: none;
}
